/*
Theme Name: QuickChic
Theme URI: http://www.quickonlinethemes.com/wordpress/quickchic/
Description: 2-columns clean, lightweight, minimalistic, widget ready, SEO optimized, fast loading, easy to customize WordPress theme.
Version: 1.5.2
Author: QuickOnlineThemes
Author URI: http://www.quickonlinethemes.com/
Tags: white, pink, light, two-columns, right-sidebar, fixed-layout, responsive-layout, threaded-comments, sticky-post, custom-background
Text Domain: quickchic
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
QuickChic WordPress Theme, Copyright 2015 QuickOnlineThemes.com
QuickChic is distributed under the terms of the GNU GPL

*/
/* Begin Typography &amp; Colors
------------------------------------- */
body {
font-size: 75%;
font-family:  arial, sans serif;
background: #fff;
color: #333;
border-top: 10px solid #C32364;
}
#page {
background-color: white;
text-align: left;
}
#header {
padding: 5px 15px;
border-bottom: 2px dotted #C32364;
}
#header-responsive {
display:none;
margin:0;
padding:0;
font-size: 0.9em;
}
#content {
font-size: 1.2em;
background: #fff;
}
.narrowcolumn .entry {
line-height: 1.6em;
}
.narrowcolumn .postmetadata {
}
.alt {
background: #f3f3f3;
}
#footer {
background: #fff;
border: none;
}
small {
font-size: 0.9em;
line-height: 2em;
}
h1, h2, h3, h4 {
font-weight: bold;
font-family: arial, sans serif;
}
#content h1 {
font-size: 1.8em;
text-align: left;
}
#header td {
font-size: 1.1em;
}
#header h1 {
font-size: 1em;
margin: 0;
padding:0;
}
.blogtitle {
font-size: 1.6em !important;
text-align: left;
font-weight: bold;
margin: 10px 0 0 0;
padding: 0;
font-family: arial, sans serif;
}
.description {
padding: 5px;
color: #333;
font-size: 1.1em;
text-align: left;
}
h2 {
font-size: 1.8em;
text-align: left;
}
h2.pagetitle {
font-size: 1.6em;
}
#sidebar h2 {
font-size: 1.2em;
}
h3 {
font-size: 1.3em;
}
#header h1, h1 a, h1 a:hover, h1 a:visited {
text-decoration: none;
color: white;
}
h1, h1 a, h1 a:visited {
text-decoration: none;
color: #333;
}
h1 a:hover, {
text-decoration: none;
color: #C32364;
}
h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
color: #333;
}
h2, h2 a, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, #sidebar h4, #wp-calendar caption, cite {
text-decoration: none;
}
h2 a:hover {
color: #333 !important;
text-decoration: none;
}
#sidebar h4 {
font-size: 1.2em;
}
.commentlist li, #commentform input, #commentform textarea {
font-size: 1em;
}
.commentlist li {
font-weight: normal;
}
.commentlist cite, .commentlist cite a {
font-weight: bold;
font-style: normal;
font-size: 1em;
}
.commentlist p {
font-weight: normal;
line-height: 1.5em;
text-transform: none;
}
#commentform p {
font-size: 1.1em;
}
.commentmetadata {
font-weight: normal;
}
small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {
color: #777;
}
pre {
font: 1em 'Courier New', Courier, Fixed;
color: #666;
background: #F8F8F8;
padding: 5px;
line-height:1.5em;
border: 1px solid #ddd;
overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
/* width: 99%; */
word-wrap: break-word; /* Internet Explorer 5.5+ */
}
code {
font: 1.1em 'Courier New', Courier, Fixed;
color: #666;
padding: 0 2px;
background: #fff;
line-height:1.5em;
overflow: auto;
}
acronym, abbr, span.caps {
font-size: 0.9em;
letter-spacing: .07em;
}
a, a:visited, h2 a:hover, h3 a:hover {
color: #C32364;
text-decoration: none;
}
a:hover {
color: #C32364;
text-decoration: underline;
}
.entry a {
text-decoration: none;
}
.entry a:hover {
text-decoration: underline;
}
#sidebar a:hover {
text-decoration: underline;
}
.sticky {
}
/* Begin Structure
------------------------------------- */
body {
margin: 0 0;
padding: 0 0;
}
#page {
background-color: white;
margin: 0 auto;
padding: 0 30px;
width: 920px;
}
#header {
margin: 0 0px;
padding: 5px;
}
#header a {
color: #333;
text-decoration: none;
}
#header a:hover {
color: #C32364;
text-decoration: none;
}
.narrowcolumn {
float: left;
padding: 0 0 20px 20px;
margin: 0px 0 0;
width: 540px;
background: #fff;
}
.post {
margin: 0 0 40px;
text-align: left;
}
.post hr {
display: block;
}
.entry{
border-top: 1px solid #ddd;
overflow:hidden;
}
.entry p{ 
}
.narrowcolumn .postmetadata {
padding-top: 5px;
}
.postmetadata {
clear: left;
}
#footer {
color: #333;
padding: 20px 5px;
font-size: 1.2em;
margin: 20px auto 10px auto;
width: 100%;
clear: both;
border-top: 1px dotted #C32364;
}
#footer p {
margin: 0;
padding: 5px 0;
text-align: center;
}
/* Begin Headers
------------------------------------- */
#content h1 {
margin: 30px 0 0 0;
}
h2 {
margin: 30px 0 0;
}
h2.pagetitle, h2.pagetitle {
margin-top: 20px;
text-align: center;
}
#sidebar h2 {
margin: 10px 0 0;
padding: 0;
}
#sidebar h4 {
margin: 25px 0 0;
padding: 0;
}
h3 {
padding: 0;
margin: 30px 0 0;
}
h3.comments {
padding: 0;
margin: 40px auto 20px ;
}
/* Begin Images
------------------------------------- */
p img {
padding: 0;
max-width: 100%;
}
.entry img {
padding:5px;
height:auto;
}
.rssicon {
vertical-align:middle;
border:0;
padding-right:5px;
}
img.centered {
display: block;
margin-left: auto;
margin-right: auto;
}
img.alignright {
padding: 4px;
margin: 0 0 2px 7px;
display: inline;
}
img.alignleft {
padding: 4px;
margin: 0 7px 2px 0;
display: inline;
}
.thumb {
float:left !important;
margin: 10px 5px 0 0;
}
.alignright {
float: right;
}
.alignleft {
float: left
}
/* Begin Lists
------------------------------------- */
html&gt;body .entry ul {
margin-left: 0px;
padding: 0 0 0 20px;
padding-left: 10px;
}
html&gt;body .entry li {
margin: 2px 0 2px 10px;
}
.entry ol {
padding: 0 0 0 20px;
margin: 0;
}
.entry ol li {
margin: 0;
padding: 0;
}
.entry td {
padding: 5px;
border: 1px solid #DDD;
}
.postmetadata ul, .postmetadata li {
display: inline;
list-style-type: none;
list-style-image: none;
}
#sidebar ul, #sidebar ul ol {
margin: 0;
padding: 0;
}
#sidebar ul li {
list-style-type: none;
list-style-image: none;
margin-bottom: 15px;
}
#sidebar ul p, #sidebar ul select {
margin: 5px 0 8px;
}
#sidebar ul ul, #sidebar ul ol {
margin: 5px 0 0 10px;
}
#sidebar ul ul ul, #sidebar ul ol {
margin: 0 0 0 10px;
}
ol li, #sidebar ul ol li {
list-style: decimal outside;
}
#sidebar ul ul li, #sidebar ul ol li {
margin: 6px 0 0;
padding: 0;
}
/* Begin Form Elements
------------------------------------- */
#searchform {
margin: 5px 0;
padding: 5px 3px;
text-align: left;
}
#searchform input {
border: 1px solid #CCC;
}
#searchform #s {
width: 200px;
padding: 2px;
}
#searchsubmit {
cursor:pointer;
background:#C32364;
color:#fff;
padding: 4px 7px;
border-radius: 5px;
text-transform:uppercase;
-moz-border-radius: 5px;
}
.screen-reader-text {display: none;}
.formbutton{
cursor:pointer;
border: solid 1px #ccc;
background:#C32364;
color:#fff;
font-weight:bold;
padding: 10px;
}
select {
width: 130px;
}
#commentform input {
width: 170px;
padding: 2px;
margin: 5px 5px 1px 0;
border: 1px solid #CCC;
}
#commentform textarea {
width: 90%;
padding: 2px;
border: 1px solid #CCC;
}
#commentform #submit {
background: #C32364;
padding:7px;
font-size: 0.9em;
color: #fff;
margin: 0;
text-transform:uppercase;
border-radius: 8px;
-moz-border-radius: 8px;
}
/* Begin Comments
------------------------------------- */
.alt {
margin: 0;
padding: 10px;
}
.commentlist {
padding: 0;
margin: 0;
text-align: justify;
}
.commentlist li {
margin: 15px 0 3px;
padding: 5px 10px 3px;
list-style: none;
}
.commentlist p {
margin: 10px 5px 10px 0;
}
#commentform p {
margin: 5px 0;
}
.nocomments {
text-align: center;
margin: 0;
padding: 0;
display:none;
}
.commentmetadata {
margin: 0;
display: block;
}
img.avatar {
float:left;
margin: 0;
padding: 0 4px 0 0;
vertical-align:middle;
}
#respond {
margin-bottom: 20px;
}
#reply-title a {
color: #C32364 !important;
}
.bypostauthor {
background: #FFF8FE !important;
}
ol.commentlist li div.comment-meta {
font-size:9px; margin-bottom:10px;
}
ol.commentlist li div.comment-meta a {
color:#999 !important; }
ol.commentlist li div.comment-meta a:hover {
color:#06c !important; text-decoration:underline;
}
ol.commentlist li p {
font-size:1em; margin:0 0 1em;
}
ol.commentlist li ul {
font-size:1em; margin:0;
}
ol.commentlist li ul li {
font-size:1em; list-style:square;margin:0;
}
ol.commentlist li ol li {
font-size:1em; margin:0;list-style:upper-roman;
}
ol.commentlist li div.reply {
font-size:1em;
}
ol.commentlist li div.reply a {
text-decoration:none; padding: 5px;
}
ol.commentlist li ul.children {
list-style:none; margin:1em 0 0; text-indent:0;
}
ol.commentlist {
list-style:none; margin:0 0 1em; padding:0; text-indent:0;
}
ol.commentlist li.comment {
border:1px solid #d5d5d5;
padding:1em;
border-radius: 8px;
-moz-border-radius: 8px;
}
ol.commentlist li.even {
background:#fff;
}
ol.commentlist li.odd {
background:#f9f9f9;
}
ol.commentlist li ul.children li.depth-2 {
list-style:none; border-left:1px solid #ccc; margin:0 0 .25em .25em;
}
ol.commentlist li ul.children li.depth-3 {
list-style:none; border-left:1px solid #ccc; margin:0 0 .25em .25em;
}
ol.commentlist li ul.children li.depth-4 {
list-style:none; border-left:1px solid #ccc; margin:0 0 .25em .25em;
}
.commentlist table td {
background: #FFF;
border: 1px solid #CCC;
padding: 10px;
}
dl, dt, dd {
list-style:none;
padding: 0;
margin:0
outline: 0;
padding: 0;
vertical-align: baseline;
}
dt {
font-weight:bold;
padding-top:5px; 
}
dd {
padding-bottom: 15px;
}
/* Begin Sidebar
------------------------------------- */
#sidebar {
padding: 25px 0 10px 20px;
margin: 0px 0 10px 0px;
float:right;
width: 300px;
background: #fff;
font-size: 1.1em;
border-left: 4px dotted #f3f3f3;
overflow:hidden;
}
#adbox {
text-align: center;
padding: 5px;
margin: 0 0 5px 0;
background: #ffffff;
border: 1px solid #ddd;
}
#sidebar_low {
clear:both;
}
#l_sidebar {
width:170px;
float: left;
padding: 5px;
border: 1px solid #DDD;
background: #f6f6f6;
}
#r_sidebar {
width:170px;
float: right;
padding: 5px;
background: #f6f6f6;
border: 1px solid #DDD;
}
#sidebar form {
margin: 0;
}
/* Begin Tags &amp; Classes
------------------------------------- */
acronym, abbr, span.caps {
cursor: help;
}
acronym, abbr {
border-bottom: 1px dashed #999;
}
blockquote {
margin: 15px 30px 0 10px;
padding-left: 20px;
border-left: 3px solid #CCC;
}
blockquote cite {
margin: 5px 0 0;
display: block;
}
.center {
text-align: center;
}
hr {
display: none;
}
a img {
border: none;
}
.navigation {
display: block;
text-align: center;
margin-top: 10px;
margin-bottom: 60px;
font-size: 1em;
}
.mainnav a {
background: #C32364;
color:#FFF !important;
padding: 5px;
border-radius: 8px;
-moz-border-radius: 8px;
}
/* Captions
------------------------------------- */
.aligncenter,
div.aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}
.wp-caption {
text-align: center; 
padding-top: 4px;
margin: 10px;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
max-width: 100%;
}
.wp-caption img {
margin: 0;
padding: 0;
border: 0 none;
}
.wp-caption p.wp-caption-text {
font-size: 11px;
line-height: 17px;
padding: 0 4px 5px;
margin: 0;
}
#content .gallery {
margin: 0 auto 18px;
}
#content .gallery .gallery-item {
float: left;
margin-top: 5px;
text-align: center;
width: 33%;
}
#content .gallery img {
border: 2px solid #cfcfcf;
}
#content .gallery .gallery-caption {
color: #888;
font-size: 11px;
margin: 0 0 12px;
}
#content .gallery dl {
margin: 0;
}
#content .gallery img {
border: 0px solid #f1f1f1;
}
#content .gallery br+br {
display: none;
}
#content .attachment img { /* single attachment images should be centered */
display: block;
margin: 0 auto;
}


/* Responsive Design
------------------------------------- */
@media screen and (max-width: 820px) {
body {
background: #FFF;
}
body.custom-background {
background-color: #FFF !important;
}
#page {
width: 100%;
border: 0;
margin:0;
padding: 0;
} 
#menu-header {
margin: 0;
}
#header {
display:none;
}
#header-responsive {
display:block;
}

.narrowcolumn {
float: left;
display:block;
padding: 5px;
margin: 5px;
width: 95%;
background: #fff;
clear:right;
}
#sidebar {
float: none;
display:block;
padding: 5px;
margin: 5px;
width: 95%;
background: #fff;
}
}